<article>
	<div class="date-column">
		<div class="date">
			<span class="day">{{ page.date | date: '%a' | upcase }}</span>
			<span class="number">{{ page.date | date: '%d' }}</span>
			<span class="month">{{ page.date | date: '%b' | upcase }}</span>
		</div>
	</div>
	<div class="post">
		<h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
		{{ content }}
		
	    {% unless page.categories == empty %}
	      <ul class="tag_box inline">
	        <li><i class="icon-folder-open"></i></li>
	        {% assign categories_list = page.categories %}
	        {% include JB/categories_list %}
	      </ul>
	    {% endunless %}  
	
	    {% unless page.tags == empty %}
	      <ul class="tag_box inline">
	        <li><i class="icon-tags"></i></li>
	        {% assign tags_list = page.tags %}
	        {% include JB/tags_list %}
	      </ul>
	    {% endunless %} 
	</div> 
	<hr />
    <ul class="pagination">
	  <li>
      {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" class="previous">&larr; Previous</a></li>
      {% else %}
        <span class="previous">&larr; Previous</span>
      {% endif %}
	  </li>
      <li>
		  <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" class="page_number">Archive</a></li>
	  <li>
      {% if page.next %}
        <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" class="next">Next &rarr;</a>
      {% else %}
        <span class="next ">Next &rarr;</span>
      {% endif %}
	  </li>
    </ul>
	<hr />
	{% include JB/comments %}
</article>