pre {
  counter-reset: line-numbering;
  border: solid 1px #d9d9d9;
  border-radius: 0;
  background: #fff;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  border-right: 1px solid #dedede;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 1px inset;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
.clearfix, .container, article, section {
  overflow: hidden;
  *zoom: 1;
}

.pie-clearfix {
  *zoom: 1;
}
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  background-image: url("images/bg.png");
  background-repeat: repeat;
}

body {
  color: #4b4b4b;
  font-family: 'Droid Serif', Georgia, serif;
}

a {
  color: #a84242;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #a84242;
  text-decoration: underline;
}

h1 {
  font-size: 2.25em;
  line-height: 1.1111111em;
  margin: 0 0 0.4444444em 0;
}

h2 {
  font-size: 1.875em;
  line-height: 1.3333333em;
  margin: 1.0666667em 0 0.5333333em 0;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4545455em;
  margin: 1.4545455em 0 0.7272727em 0;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333em;
  margin: 0 0 0.4444444em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

p, pre, label {
  font-size: 1.375em;
  line-height: 1.4545455em;
  margin: 0 0 0.7272727em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

blockquote {
  padding-left: 3em;
  color: #a1a1a1;
  line-height: normal;
  margin: 0;
  margin-bottom: 1.5em;
  background: url("images/quote.png") no-repeat;
  background-position: top left;
}
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.75em;
  line-height: 1.1428571em;
  margin: 0.8em 0 0.8em 0;
}
blockquote cite {
  color: #e29c9c;
}
blockquote cite:before {
  content: "\2014\00A0";
}

pre {
  font-size: 1em;
  line-height: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.75), inset 0 1px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.75), inset 0 1px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px rgba(255, 255, 255, 0.75), inset 0 1px 3px rgba(0, 0, 0, 0.07);
  border: solid 1px #dedede;
}

@font-face {
  font-family: 'blanchcaps';
  src: url("fonts/blanch_caps-webfont.eot");
  src: url("fonts/blanch_caps-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blanch_caps-webfont.woff") format("woff"), url("fonts/blanch_caps-webfont.ttf") format("truetype"), url("fonts/blanch_caps-webfont.svg#blanchcaps") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'blanchcaps', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  font-size: 3em;
  line-height: 1.1666667em;
  color: #a84242;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
.container {
  margin: 0 auto;
  width: 95%;
}

/* Custom styles */
header {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 3em;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
}

article {
  margin: 0 auto;
}

hr {
  background: url("images/separator.png") no-repeat;
  border: none;
  width: 106px;
  height: 12px;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}

.date {
  font-family: 'blanchcaps';
  text-align: center;
  font-size: 1.75em;
  line-height: 1.1428571em;
  line-height: 0.75em;
  width: 1.5em;
}
.date span.day {
  color: #767676;
}
.date span.number {
  font-size: 1.5em;
  line-height: 1.3333333em;
  line-height: inherit;
  color: #a84242;
}
.date span.month {
  color: #e29c9c;
}

.date:after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url("images/star.png");
}

.post {
  margin-left: 6.25em;
}

/* Pagination */
ul.pagination {
  text-align: center;
  padding: 0;
  color: #767676;
  font-size: 1.375em;
  line-height: 1.4545455em;
  list-style: none;
}
ul.pagination li {
  display: list-item;
  margin: 0.5em 0;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (min-width: 20em) {
  header {
    width: 94%;
    background-position: center;
    height: 202px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .date-column {
    width: 100%;
  }

  .date {
    width: 100%;
  }

  .date:after {
    margin: 1em auto 0.5em auto;
  }

  article {
    width: 90%;
  }

  h1 {
    text-align: center;
  }

  .post {
    margin-left: 0;
  }
}
@media screen and (min-width: 30em) {
  article {
    width: 80%;
  }

  ul.pagination li {
    display: inline-block;
    margin: 0 1em;
  }
}
@media screen and (min-width: 50em) {
  header {
    width: 404px;
    height: 202px;
  }

  .date-column {
    float: left;
    text-align: left;
    width: 6.25em;
  }

  .date {
    width: 1.5em;
  }

  .date:after {
    float: left;
    margin: auto;
    margin-left: 2.15em;
    margin-top: -1.6em;
  }

  h1 {
    text-align: left;
  }

  .post {
    margin-left: 6.25em;
  }

  article {
    width: 60%;
  }

  ul.pagination li {
    margin: 0 2em;
  }
}
@media screen and (min-width: 77.5em) {
  ul.pagination li {
    margin: 0 3em;
  }
}
@media print {
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
/* ::State styles */
/* ------------------------------------------------------------ */
.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
