// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles 
// ::Media queries 
// ::State styles
// ::Debugs  



// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/settings";
@import "libs/mixins";

@import "linenumbers";



/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;

	background-image: url('images/bg.png');
	background-repeat: repeat;
}

body { 
	color: $base-color;
	font-family: 'Droid Serif', Georgia, serif;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: $action-respond;
		text-decoration: underline;
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography"; 		

// Build up font from fonts/
@font-face {
	font-family: 'blanchcaps';
	src: url('fonts/blanch_caps-webfont.eot');
	src: url('fonts/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/blanch_caps-webfont.woff') format('woff'),
	url('fonts/blanch_caps-webfont.ttf') format('truetype'),
	url('fonts/blanch_caps-webfont.svg#blanchcaps') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Setting up custom font to be used in the blog
h1, h2, h3, h4, h5, h6 {
	font-family: 'blanchcaps', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	letter-spacing: 0.08em;

	@include adjust-font-size-to(48px);

	color: $secondary;
}




/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
}

/* Custom styles */
header {
	margin: 0 auto;
	@include margin-leader(2);
	@include margin-trailer(6);

	background-image: url('images/logo.png');
	background-repeat: no-repeat;
}

article {
	@extend .clearfix;
	margin: 0 auto;
}

hr {
	background: url('images/separator.png') no-repeat;
	border: none; // reset
	width: 106px;
	height: 12px;
	@include margin-leader(9);
	@include margin-trailer(9);
}


.date {
	font-family: 'blanchcaps';
	text-align: center;

	@include adjust-font-size-to(28px);
	line-height: em-font(12px);

	width: em-font(24px);

	span.day {
		color: $light-gray;
	}

	span.number {
		@include adjust-font-size-to(24px);
		line-height: inherit;
		color: $secondary;
	}

	span.month {
		color: $tertiary;
	}
}

.date:after {
	// @extend .clearfix; ?
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: url('images/star.png');
}

.post {
	margin-left: em-font(100px);
}

/* Pagination */
ul.pagination {
	text-align: center;
	padding: 0;
	color: $light-gray;

	@include adjust-font-size-to(22px);

	list-style: none;

	li {
		display: list-item;
		margin: rhythm(1) 0;
	}
}

section 				{ @extend .clearfix; }
ol 						{ @include ordered-inside; }
ul 						{ @include unordered-inside; }



/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach

@media screen and (min-width: em-font(320px)) {
	header {
		width: 94%;
		background-position: center;
		height: 202px;
		@include background-size("contain");
	}

	.date-column {
		width: 100%;
	}

	.date {
		width: 100%;
	}

	.date:after {
		margin: em-font(16px) auto  em-font(8px) auto;
	}

	article {
		width: 90%;
	}

	h1 {
		text-align: center;
	}

	.post {
		margin-left: 0;
	}
}

// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	article {
		width: 80%;
	}

	ul.pagination li {
			display: inline-block;
			margin: 0 rhythm(2);
	}
}


// Eg for 800px
@media screen and (min-width: em-font(800px)) {

	header {
		//margin: inherit auto;
		width: 404px;
		height: 202px;
	}

	.date-column {
		float: left;
		text-align: left;
		width: em-font(100px);
	}

	.date {
		width: em-font(24px);;
	}

	.date:after {
		float: left;
		margin: auto;
		margin-left: 2.15em;
		margin-top: -1.6em;
	}

	h1 {
		text-align: left;
	}

	.post {
		margin-left: em-font(100px);
	}

	article {
		width: 80%;
	}

	ul.pagination li {
			margin: 0 rhythm(4);
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	article {
		width: 60%;
	}
	ul.pagination li {
		margin: 0 rhythm(6);
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics 
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;
    
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}